*{
    padding: 0px;
    margin: 0px;
    background-color: lavender;
    font-family: sans-serif
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header{
    padding: 1rem;
    font-size: 32px;
    font-weight: bold;
}

#img-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#image{
    padding: 1rem;
    max-width: 90%;
}
#img-caption{
/*     padding: 1rem; */
    font-size: smaller;
}
section{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
li{
    padding: 1rem;
}
footer{
    padding: 1rem;
}